* {
    box-sizing: border-box;
}

body {
    background-image: url(images/header.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

button {
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-size: 40px;
}

.container {
    background-color: rgba(70, 69, 65, 0.5);
    padding: 30px;
    border-radius: 10px;
    list-style-type: none;
    width: 550px;
}

.header-title {
    color: floralwhite;
    font-size: 4.5rem;
}

.thin {
    font-weight: 200;
}

.button {
    background-color: #93c1d0;
    font-weight: 900;
    color: floralwhite;
}

.button:hover {
    color: #df3880;
}

.input.text input {
    border: none;
    border-bottom: 5px solid #93c1d0;
    outline: none;
}

.input.text input {
    background: transparent;
    color: floralwhite;
    width: 45vh;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: floralwhite;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: floralwhite;
    opacity: 1;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: floralwhite;
    opacity: 1;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: floralwhite;
}
::-ms-input-placeholder {
    /* Microsoft Edge */
    color: floralwhite;
}

::placeholder {
    /* Most modern browsers support this now. */
    color: floralwhite;
    font-weight: lighter;
}

.list {
    margin-bottom: 10px;
    color: floralwhite;
}

.song-lyric {
    color: floralwhite;
    text-align: center;
}

.sub-container {
    height: 90vh;
}

.loadingDiv {
    height: 85vh;
    color: floralwhite;
}
